# Python

**pycache**/
*.py[cod]


.env

# Base locale

db.sqlite3

# Médias uploadés

media/
exports_csv/

# Fichiers statiques collectés

staticfiles/

# IDE

.vscode/
.idea/

# Logs

*.log

hell -c from django.conf import settings; print(settings.DATABASES['default']['ENGINE'])

