{% extends 'base.html' %}

{% block title %}
Liste des annonces
{% endblock %}

{% block content %}

<h2 class="mb-4">Annonces disponibles</h2>

<div class="row">

    {% for annonce in annonces %}

    <div class="col-md-4 mb-4">

        <div class="card shadow-sm h-100">

            {% if annonce.bien.photos.first %}
            <img src="{{ annonce.bien.photos.first.chemin_fichier.url }}" class="card-img-top" alt="Photo du bien">
            {% endif %}

            <div class="card-body">

                <h5>
                    {{ annonce.bien.type }}
                </h5>

                <p>
                    {{ annonce.bien.ville }}
                </p>

                <p>
                    {{ annonce.prix }} FCFA
                </p>

            </div>

            <div class="card-footer">

                <a href="{% url 'detail_annonce' annonce.id %}" class="btn btn-success w-100">
                    Voir détail
                </a>

            </div>

        </div>

    </div>

    {% empty %}

    <div class="alert alert-info">
        Aucune annonce disponible.
    </div>

    {% endfor %}

</div>

{% endblock %}