<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ImmoFaso{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'accueil' %}">🏠 ImmoFaso</a>
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-white" href="{% url 'liste_annonces' %}">Annonces</a>
                {% if user.is_authenticated %}
                    {% if user.bailleur %}
                        <a class="nav-link text-white" href="{% url 'mes_annonces_bailleur' %}">Mes annonces</a>
                        <a class="nav-link text-white" href="{% url 'deposer_annonce' %}">Déposer</a>
                    {% endif %}
                    {% if user.client %}
                        <a class="nav-link text-white" href="{% url 'mes_favoris_client' %}">Favoris</a>
                        <a class="nav-link text-white" href="{% url 'mes_demandes_client' %}">Mes visites</a>
                    {% endif %}
                    {% if user.agent %}
                        <a class="nav-link text-white fw-bold" href="{% url 'agent_dashboard' %}">Tableau de bord</a>
                        <a class="nav-link text-white" href="{% url 'liste_annonces_en_attente' %}">Annonces</a>
                        <a class="nav-link text-white" href="{% url 'liste_demandes_agent' %}">Demandes</a>
                    {% endif %}
                    {% if user.manager %}
                        <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                        <a class="nav-link text-white" href="{% url 'liste_utilisateurs' %}">Utilisateurs</a>
                    {% endif %}
                    <a class="nav-link text-white" href="{% url 'logout' %}">Déconnexion</a>
                {% else %}
                    <a class="nav-link text-white" href="{% url 'login' %}">Connexion</a>
                    <a class="nav-link text-white" href="{% url 'inscription' %}">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- MESSAGES -->
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    </div>

    <!-- CONTENU -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>